* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
.table {
  margin:0 auto ;
  padding: 20px;
  user-select: none;
}
.calendar-panel-btn{
    display: flex;
    justify-content: center;
}
.day{
  padding: 2em;
  background-color: rgb(0, 17, 255);
  text-align: center;
  color: white;
  font-size: 1.3rem;
  border-radius: 3px; 
}

.panel-button-select{
  display: flex;
  color: #4c9161;
}
.panel-button-select>div{
  padding: 12px;
  margin: 5px;    
  border: 2px solid rgb(0, 17, 255);
  cursor: pointer;
}

.select{
    background-color: green;
    border:1px solid #034e16; 
  }
  .selected{
    background-color: rgb(71, 71, 71);
  }
.day:hover{
  opacity: .9;
  cursor: pointer;
}
.today {
  background-color: #00379e;
  color: #fff;
}
.output{
    background-color: green;
}
.in-prev-month,
.in-next-month {
  background-color: #93b3a9;
  border-radius: 10%;
  opacity: 0.4;
  text-align: center;
}
.title{
    text-align: center;
}
.calendar-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendar{

  &-button{
    background-color: #4c9161;
    color: white;
    padding: 13px;
    margin: 5px;
    border: 2px solid green;
  }
}